body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #121212;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center; /* vertical-align  */
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #fafafa;
}
.navbar h1 {
  color: blue;
}
.navbar .links {
  margin-left: auto; /* will send it to left  */
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: blue;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog-previews of list  */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog-details page */
.blog-details h2{
  font-size: 20px;
  color: blue;
  margin-bottom: 10px;
}
.blog-details p{
  margin-bottom: 10px;
}
.blog-details div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-details button{
  margin: 10px 0;
  background: red;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: blue;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Error-404 page  */
.Error404 h2 {
  color: rgb(211, 36, 36);
  font-size: 25px;
  margin-bottom: 10px;
}
.Error404 p{
  margin-bottom: 10px;
}
.Error404 a{
  text-decoration: none;
}
.Error404 a:hover {
  color: blue;
}